/* You can add global styles to this file, and also import other style files */
body{
    font-family: "gloriola","Arial",sans-serif;
    margin:0px;
    padding:0px;
    min-height: 100% !important;
    min-width: 100% !important;
    background-color: #ffffff;
}